<div class="col-md-12" ng-controller="RegisterCtrl">
  <div clas="row">
    <div class="panel panel-default" style="margin-top: 25%;">
      <div class=panel-heading>
        <h4>{{ 'page.register.title' | translate }}
      </div>
      <div class="panel-body">
        <div class="row">
          <form role="form" ng-submit="register()" novalidate>
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'page.register.dni.label' | translate }}:</label>
                <input type="text" class="form-inline">
            </div>
            <div class="form-group">
              <label>{{ 'page.register.email.label' |  translate }}:</label>
              <input type="email" class="form-inline">
            </div>
            <div class="form-group">
              <label>{{ 'page.register.password.label' | translate }}:</label>
              <input type="password" class="form-inline">
            </div>
            <div class="form-group">
              <label>{{ 'page.register.confirm.label' | translate }}:</label>
              <input type="email" class="form-inline">
            </div>
            <div class="form-group">
              <label>{{ 'page.register.lastName.label' | translate }}:</label>
              <input type="text" class="form-inline">
            </div>
            <div class="form-group">
              <label>{{ 'page.register.firstName.label' | translate }}:</label>
              <input type="text" class="form-inline">
            </div>
            <div class="form-group">
              <label>{{ 'page.register.os.label' | translate }}:</label>
              <select class="form-inline" ng-model="filterCondition.os">
                  <option ng-selected="{{operator.value == filterCondition.os}}" ng-repeat="os in osList" value="{{os.id}}">
                {{os.name}}
              </option>
              </select>
            </div>
            <div class="form-group">
              <label>{{ 'page.register.birth' | translate }}:</label>
                <input type="text" class="form-inline" datepicker-popup="dd-MM-yyyy" show-button-bar="false" ng-model="dt" is-open="opened" show-weeks="false" datepicker-options="dateOptions" close-text="{{ 'page.register.datepicker.close.label' | translate }}" />
                <span class="form-inline">
                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
          </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'page.register.phone.label' | translate }}:</label>
                <input type="text" class="form-inline">
            </div>
            <div class="form-group">
              <label>{{ 'page.register.cellphone.label' | translate }}:</label>
              <input type="text" class="form-inline">
            </div>
            <div class="form-group">
              <label>{{ 'page.register.nationality.label' | translate}}:</label>
              <input type="text" class="form-inline">
            </div>
            <div class="form-group">
              <label>{{ 'page.register.address.label' | translate}}:</label>
              <input type="text" class="form-inline">
            </div>
            <div class="form-group">
              <label>{{ 'page.register.postalCode.label' | translate}}:</label>
              <input type="text" class="form-inline">
            </div>
            <div class="form-group">
              <label>{{ 'page.register.city.label' | translate}}:</label>
              <input type="text" class="form-inline">
            </div>
            <div class="form-group">
              <label>{{ 'page.register.state.label' | translate}}:</label>
              <input type="email" class="form-inline">
            </div>
            <div class="form-group">
              <label>Captcha*:</label>
              <no-captcha g-recaptcha-response="gRecaptchaResponse" control="captchaControl"></no-captcha>
            </div>
          </div>
          <div class="col-md-12">
            <button type="submit" ng-disabled="registerForm.$invalid">Submit</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
